{% extends 'base.html' %}

{% block title %}Showdown{% endblock %}

{% block content %}
<div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    
    <h1>Springboard Capstone: Showdown App</h1>
    <p>A web application for schools and organizations to compete against each other in various competitions and games--football, soccer, basketball, volleyball, dodgeball, knowledge bowl, etc. </p>
</div>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <h3><a href="/user/new">Add new user</a></h3>
        </li>
        <li class="list-group-item">
            <h3><a href="/school/new">Register your school</a></h3>
        </li>
        <li class="list-group-item">
            <h3><a href="/school/registered">Registered schools</a></h3>
        </li>
        <li class="list-group-item">
            <h3><a href="/user/registered">Registered users</a></h3>
        </li>
    </ul>
</div>

{% endblock %}