{% extends 'base.html' %}

{% block title %}Registered Schools{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-1">Registered Schools</h1>
    <p>{{total_count}} schools registered</p>
    <table class="table table-striped ">
      <thead class="thead-dark">
        <th>School</th>
        <th>City</th>
        <th>State</th>
        <th>Registered Users</th>
      </thead>
      <tbody>
        {% for school in registered_schools %}
        <tr>
            <td><a href="/school/{{school.school_code}}" class="show-school" data-id="{{school.school_code}}">{{school.school_name}}</a></td>
            <td>{{school.city}}</td>
            <td>{{school.state}}</td>
            <td>{{school.total_students}}</td> <!-- user counter -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/school/new" class="btn btn-success">Add School</a>
</div>

{% endblock %}