{% extends 'base.html' %}

{% block title %}{{school.school_name}}{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-2 text-center">{{school.school_name}}</h1>
</div>



<div class="container">
    <h3 class="display-3 text-center">Add New Roster</h3>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                    <div class="form-group">
                        {{field.label}}
                        {{field(class_="form-control")}}
                        {% for err in field.errors %}
                            {{err}}
                        {% endfor %}
                    </div>
                {% endfor %}
                <button class="btn btn-secondary btn-md mt-2">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}